.right_container_lipide {
  width: 80%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  background-color: $bgelement;

  div {
    width: 7rem;
    background-color: $bgelement;
  }
}
