@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
* {
  text-decoration: none;
}

* {
  font-family: "Roboto", sans-serif;
}

.header_nav_top li {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #ffffff;
}

aside p {
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: #ffffff;
}

main .top p:nth-child(1) {
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.5rem;
}
main .top span {
  color: #e60000;
}
main .top p:nth-child(2) {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.activite_top-quotidienne {
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #20253a;
}

.activite_top_info_poids {
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #74798c;
}

.activite_top_info_calorie {
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #74798c;
}

.session p {
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #ffffff;
}

.kpi p:nth-child(1) {
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #20253a;
}
.kpi .pourcentage p:nth-child(1) {
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.kpi .pourcentage p:nth-child(2) {
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #74798c;
}
.kpi .pourcentage p:nth-child(3) {
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #74798c;
}

.right_container_calorie_info p:nth-child(1) {
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #282d30;
}
.right_container_calorie_info p:nth-child(2) {
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #74798c;
}

html {
  width: 1440px;
  min-width: 1024px;
  height: 1024px;
  min-height: 720px;
  margin: 0 auto;
  border: 1px solid black;
}

body {
  height: 100%;
  width: 100%;
  border: 1px solid blue;
  position: relative;
}

header {
  display: flex;
  height: 5.6rem;
  background: #020203;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
header .logo {
  margin-left: 2rem;
  margin-top: auto;
  margin-bottom: auto;
  width: 17%;
}

.header_nav_top {
  width: 100%;
}
.header_nav_top ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.header_nav_top ul li {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  width: 10rem;
  align-content: center;
  text-align: center;
}

aside {
  position: absolute;
  width: 7.3rem;
  height: 91.4%;
  background-color: #020203;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
aside nav {
  padding-top: 15rem;
}
aside nav ul {
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
aside p {
  margin-top: 13rem;
  transform: rotate(-90deg) translateY(-2.5rem);
  width: 12rem;
}

main {
  border: 1px solid black;
  margin-left: 13.5rem;
  margin-top: 2rem;
  height: 88.2%;
}
main .top {
  margin-top: 2rem;
}
main .top p:nth-child(2) {
  margin-top: 2rem;
}

.container {
  display: flex;
}

.left {
  border: 1px solid black;
  width: 52.2rem;
  height: auto;
}

.right {
  border: 1px solid black;
  width: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right_container {
  width: 16.125rem;
  height: 7.75rem;
  margin-left: 3rem;
  border: 1px solid black;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
}
.right_container:nth-child(1) {
  margin-top: 4rem;
}

.activite {
  margin-top: 4rem;
  width: 100%;
  height: 20rem;
  border: 1px solid black;
  background-color: #fbfbfb;
  border-radius: 5px;
}
.activite_top {
  display: flex;
  align-items: center;
  height: 3rem;
}
.activite_top p:nth-child(1) {
  width: 60%;
  padding-left: 2rem;
}
.activite_top_info {
  display: flex;
  width: 40%;
}
.activite_top_info_poids {
  display: flex;
  align-items: center;
}
.activite_top_info_poids p {
  margin-left: 0.5rem;
}
.activite_top_info_calorie {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}
.activite_top_info_calorie p {
  margin-left: 0.5rem;
}

.objectif {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.session {
  width: 16.1rem;
  height: 16.4rem;
  background-color: #ff0000;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
}
.session p {
  width: 9rem;
  padding-top: 1.5rem;
  margin-left: 2rem;
}

.radar {
  width: 16.1rem;
  height: 16.4rem;
  background-color: #282d30;
  border: 1px solid black;
  border-radius: 5px;
}

.kpi {
  width: 16.1rem;
  height: 16.4rem;
  background-color: #fbfbfb;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.kpi_absolute {
  position: absolute;
  top: 8%;
  left: 8%;
}
.kpi .pourcentage {
  width: 4rem;
  text-align: center;
}

.right_container_calorie {
  border: 1px solid black;
  width: 80%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  background-color: #fbfbfb;
}
.right_container_calorie div {
  border: 1px solid black;
  width: 7rem;
  background-color: #fbfbfb;
}

.right_container_proteine {
  border: 1px solid black;
  width: 80%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  background-color: #fbfbfb;
}
.right_container_proteine div {
  border: 1px solid black;
  width: 7rem;
  background-color: #fbfbfb;
}

.right_container_glucide {
  border: 1px solid black;
  width: 80%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  background-color: #fbfbfb;
}
.right_container_glucide div {
  border: 1px solid black;
  width: 7rem;
  background-color: #fbfbfb;
}

.right_container_lipide {
  border: 1px solid black;
  width: 80%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  background-color: #fbfbfb;
}
.right_container_lipide div {
  border: 1px solid black;
  width: 7rem;
  background-color: #fbfbfb;
}