.kpi {
  // width: 16.1rem;
  width: 30%;
  aspect-ratio: 1/1;

  // height: 16.4rem;
  background-color: $bgelement;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &_absolute {
    position: absolute;
    top: 8%;
    left: 8%;
  }
}
.pourcentage {
  position: absolute;
  border: 1px solid black;
  z-index: 1;
  text-align: center;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: $textPrimary;
  p:nth-child(1) {
    margin-top: 2.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .pourcentage {
    width: 8rem;
    height: 8rem;
    p:nth-child(1) {
      margin-top: 2rem;
    }
  }
}
@media screen and (max-width: 1080px) {
  .pourcentage {
    width: 7.4rem;
    height: 7.4rem;
    p:nth-child(1) {
      margin-top: 1.6rem;
    }
  }
}
