.right {
  border: 1px solid black;
  // width: 22rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &_container {
    // width: 16.125rem;
    width: 75%;
    height: 7.75rem;
    margin-left: 3rem;
    border: 1px solid black;
    background-color: $bgelement;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
    border-radius: 5px;
  }
  &_container:nth-child(1) {
    margin-top: 4rem;
  }
  &_container:nth-child(4) {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 1200px) {
  .right_container {
    height: 5rem;
  }
  .right_container:nth-child(1) {
    margin-top: 1rem;
  }
  .right_container:nth-child(4) {
    margin-bottom: 1rem;
  }
}
