.recharts-cartesian-axis-tick:nth-child(1) {
  transform: translateX(5px);
}
.recharts-cartesian-axis-tick:nth-child(2) {
  transform: translateX(5px);
}
.recharts-cartesian-axis-tick:nth-child(3) {
  transform: translateX(5px);
}
.recharts-cartesian-axis-tick:nth-child(5) {
  transform: translateX(-5px);
}
.recharts-cartesian-axis-tick:nth-child(6) {
  transform: translateX(-9px);
}
.recharts-cartesian-axis-tick:nth-child(7) {
  transform: translateX(-17px);
}
.tooltip_session {
  border: none;
  background-color: $textPrimary;
  height: 2rem;
  width: 4rem;
  text-align: center;
  padding-top: 0.4rem;
}
