aside {
  position: absolute;
  width: 7.3rem;
  height: 91.4%;
  background-color: $bgNav;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  nav {
    padding-top: 15rem;
    ul {
      height: 20rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }
  p {
    margin-top: 13rem;
    transform: rotate(-90deg) translateY(-2.5rem);
    width: 12rem;
  }
}
