aside {
  position: absolute;
  border: 1px solid yellow;
  width: 7.3rem;
  height: 91.4%;
  // height: 60rem;
  background-color: $bgNav;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  nav {
    margin-top: 200%;
    // padding-top: 15rem;
    // padding-top: 60%;
    ul {
      height: 20rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }
  p {
    margin-top: 13rem;
    transform: rotate(-90deg) translateY(-2.5rem);
    width: 12rem;
  }
}

@media screen and (max-width: 1260px) {
  aside {
    height: 89%;
    nav {
      margin-top: 120%;
    }
    p {
      margin-top: 8rem;
    }
  }
}
@media screen and (max-width: 1200px) {
  aside {
    nav {
      margin-top: 90%;
    }
    p {
      margin-top: 6rem;
    }
  }
}
@media screen and (max-width: 1200px) {
  aside {
    height: 88.3%;
  }
}
